*.iml
.idea
*.class
target/
.DS_Store
.vscode
gradle/
.gradle/
gradlew
gradlew.bat
build/
out/
source/client/.settings
source/client/.project
node_modules/
source/.project
source/.classpath
.project
.classpath